<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Favorite">
    <insert id="insert"  parameterType="favorite"  useGeneratedKeys="true" keyProperty="id">
        insert into favorite_table(fid,upass) values(#{fid}, #{upass})
    </insert>
    <select id="fcount" parameterType="favorite" resultType="int">
        select count(*) from favorite_table where fid=#{fid}
    </select>
    <select id="ckcount" parameterType="favorite" resultType="int">
        select count(*) from favorite_table where fid=#{fid} and upass=#{upass}
    </select>

    <insert id="insert2"  parameterType="notfavorite"  useGeneratedKeys="true" keyProperty="id">
        insert into notfavorite_table(nid,npass) values(#{nid}, #{npass})
    </insert>
    <select id="ncount" parameterType="notfavorite" resultType="int">
        select count(*) from notfavorite_table where nid=#{nid}
    </select>
    <select id="ckcount2" parameterType="notfavorite" resultType="int">
        select count(*) from notfavorite_table where nid=#{nid} and npass=#{npass}
    </select>

</mapper>